*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Share Tech Mono',monospace;
}

body{
background:#000;
color:#fff;
overflow:hidden;
}

#matrix{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
z-index:-2;
}

#boot{
position:fixed;
inset:0;
background:#000;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
z-index:9999;
}

.glitch{
font-size:45px;
color:#ff0000;
text-shadow:
0 0 5px red,
0 0 15px red,
0 0 35px red;
animation:glitch 2s infinite;
}

@keyframes glitch{

0%{transform:translateX(0);}
20%{transform:translateX(-2px);}
40%{transform:translateX(2px);}
60%{transform:translateX(-1px);}
80%{transform:translateX(1px);}
100%{transform:translateX(0);}

}

#logs{
margin-top:20px;
height:140px;
width:340px;
overflow:hidden;
color:#00ff00;
font-size:14px;
}

.barra{
width:340px;
height:14px;
border:1px solid red;
margin-top:20px;
}

#progresso{
width:0%;
height:100%;
background:red;
box-shadow:0 0 15px red;
transition:.1s;
}

#desktop{
display:flex;
width:100%;
height:100vh;
}

header{
position:fixed;
top:0;
left:0;
right:0;
height:55px;
background:#080808;
border-bottom:1px solid red;
display:flex;
justify-content:space-between;
align-items:center;
padding:0 20px;
z-index:100;
}

.logo{
color:red;
font-size:22px;
text-shadow:0 0 10px red;
}

#clock{
color:#00ff00;
}

aside{
width:220px;
height:100vh;
background:#050505;
border-right:1px solid red;
padding-top:70px;
display:flex;
flex-direction:column;
}

aside button{
margin:8px 12px;
padding:15px;
background:#111;
color:red;
border:1px solid red;
cursor:pointer;
transition:.3s;
font-size:16px;
}

aside button:hover{
background:red;
color:#000;
box-shadow:0 0 20px red;
}

main{
flex:1;
padding:80px 30px 30px 250px;
overflow:auto;
}

.janela{
display:none;
background:#070707;
border:1px solid red;
border-radius:10px;
padding:20px;
box-shadow:0 0 20px red;
animation:fade .4s;
}

.active{
display:block;
}

@keyframes fade{

from{
opacity:0;
transform:translateY(20px);
}

to{
opacity:1;
transform:translateY(0);
}

}

.titulo{
font-size:22px;
margin-bottom:20px;
color:red;
}

#saida{
height:350px;
overflow-y:auto;
background:#000;
padding:15px;
border:1px solid #222;
color:#00ff00;
}

#comando{
width:100%;
margin-top:10px;
padding:12px;
background:#000;
border:1px solid red;
color:#00ff00;
outline:none;
font-size:16px;
}

.cards{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(180px,1fr));
gap:20px;
}

.card{
background:#111;
border:1px solid red;
padding:20px;
text-align:center;
cursor:pointer;
transition:.3s;
}

.card:hover{
transform:scale(1.05);
box-shadow:0 0 20px red;
  }
