*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:monospace;
}


body{
background:#000;
color:white;
height:100vh;
overflow:hidden;
}


#matrix{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
z-index:-1;
}



.container{

height:100vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

text-align:center;

padding:15px;

}




h1{

font-size:45px;

color:red;

text-shadow:0 0 15px red;

}



p{

color:#aaa;

margin:10px;

}





.terminal{

width:80%;

max-width:700px;

background:#050505;

border:1px solid red;

border-radius:10px;

padding:20px;

color:#00ff00;

box-shadow:0 0 20px red;

text-align:left;

}




#comando{

width:100%;

margin-top:15px;

background:#000;

border:none;

outline:none;

color:#00ff00;

font-size:16px;

font-family:monospace;

}





button{

margin:10px;

padding:15px 25px;

background:#000;

color:red;

border:1px solid red;

border-radius:8px;

cursor:pointer;

transition:.3s;

}




button:hover{

background:red;

color:black;

box-shadow:0 0 20px red;

}




#painel{

margin-top:20px;

width:80%;

max-width:700px;

background:#050505;

border:1px solid red;

border-radius:10px;

padding:20px;

box-shadow:0 0 15px red;

}





#painel p{

color:#00ff00;

}




/* BOOT SYSTEM */


#boot{

position:fixed;

top:0;

left:0;

width:100%;

height:100vh;

background:#000;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

z-index:999;

}





#boot h1{

color:red;

text-shadow:0 0 20px red;

}




#bootText{

color:#00ff00;

}




.logs{

margin-top:20px;

height:120px;

width:300px;

overflow:hidden;

color:#00ff00;

text-align:left;

font-size:14px;

}





.barra{

width:300px;

height:15px;

border:1px solid red;

margin-top:20px;

}





#progresso{

height:100%;

width:0%;

background:red;

box-shadow:0 0 15px red;

}





.tools{

display:flex;

justify-content:center;

flex-wrap:wrap;

}





/* MOBILE */


@media(max-width:600px){


h1{

font-size:30px;

}



.container{

padding:10px;

}



.terminal{

width:95%;

height:250px;

padding:15px;

}



#painel{

width:95%;

}



.tools{

flex-direction:column;

width:95%;

}



button{

width:100%;

margin:5px 0;

}



.barra{

width:250px;

}



#boot h1{

font-size:30px;

}



}
